<h2>Register</h2>
<form method="POST">
    {% csrf_token %}
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p{% if message.error.tags %} class="{{ message.error.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
    <table style="padding: 2ex;">
    {{ form.as_table }}     {# this line shows the sign-up form #}
    <tr>
    <td colspan="2">
    <button type="submit">Register</button>
    </td>
    </tr>
    </table>
</form>