{% extends 'polls/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">


{% block content %}
    <h1>KU Polls</h1>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">Question{{question.id}} : {{ question.question_text }}</a></li>
        <a href = "{% url 'polls:results' question.id%}"> -See the results of Question{{question.id}}</a>
        {% if question.can_vote%}
            <p>Status: Active</p>
        {% else %}
            <p>Status: Inactive</p>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}
